@model Week26_CleanCodeRefactoring.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaymentCard.CardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentCard.CardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDispatched)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDispatched)
        </dd>

    </dl>

    <table class="table-striped">
        <tr>
            <th>Product Name</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        
        @foreach (var orderItem in Model.OrderItems)
        {
            <tr>
                <td>@orderItem.Product.Name</td>
                <td>@orderItem.Product.Description</td>
                <td>@orderItem.Quantity</td>
                <td>@orderItem.getPrice()</td>
            </tr>
        }

    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
